## PART 3 - BlindCV_split_tasks

### Chargement de la part 2

Part 1

In [1]:
# Chargement des librairies nécessaires
import pandas as pd
import spacy

# Chargement de la dataset
dataset = pd.read_csv("dataset_CV.csv", delimiter = ";")

# Instanciation de la bibliothèque fr_core_news_lg de Spacy
nlp = spacy.load("fr_core_news_lg")

# Tokenization des textes de CV
dataset["Tokenization_preparation"] = dataset["CV_text"].apply(lambda x : str(x).replace("\n", " "))
dataset["Tokenization"] = dataset["Tokenization_preparation"].apply(lambda x : nlp(x))
dataset["Number_of_tokens"] = dataset["Tokenization"].apply(lambda x : len(x))

Part 2

In [2]:
## Sélection du texte du premier CV
doc = dataset.iloc[0,2]
doc = nlp(doc)

## Sentencisation du texte du CV
for sent in doc.sents :
    print(sent)

## Création d'une liste de phrase
list_sentence = []
for sent in doc.sents :
    list_sentence.append(sent)
    print(sent)

## Création d'une dataframe avec les phrases 
df = pd.DataFrame(columns = ['Sentence_CV1'])

## Insertion des phrases et suppression des parenthèses
df['Sentence_CV1'] = list_sentence
df['Sentence_CV1_clean'] = df['Sentence_CV1'].apply(lambda x : str(x).replace("(","").replace(")",""))

SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE
PROFIL
PERSONNEL Je suis étudiante au lycée Condorcet.
Je code depuis l'âge de 13 ans et j'aime créer des sites Web et utiliser la technologie pour aider les gens.
RÉALISATIONS
Chef d'équipe du site Web du lycée
-
Vice-présidente du club cinématographique du lycée
- Trésorière de la société des codeurs du lycée -
Premier prix au Hackathon de Condorcet EXPÉRIENCE Tuteur en mathématiques
Centre scolaire de Condorcet Jan 2019
- présent • Cours particuliers avec des élèves du secondaire sur différents domaines des mathématiques • Cours d'algèbre Développeuse stagiaire
| Berou Solutions, Inc.
mars
- mai 2019 Traduction de wireframes en code frontal Aide à la création d'une application de commande en ligne Recherche d'utilisateurs effectuée par le biais d'enquêtes et d'entretiens PARCOURS SCOLAIRE
Lycée de Condorcet
· Spécialisation en technologie
| Classe de 2020 •
Diplômée avec une moyenne de 16/20 • Membre de l'association des étudiants en histoire
Excellence académique en histoire, mathématiques et multimédia durant 2 années consécutives RÉFÉRENCES
Marion Bardot
| Professeure, lycée de Condorcet Caroline Clément | Professeure, lycée Beaulieu Myriam Barbu
| Directrice, Centre scolaire de Condorcet
01 12 13 14 15
bonjour@sitevraimentsuper.fr
www.sitevraimentsuper.fr
SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE
PROFIL
PERSONNEL Je suis étudiante au lycée Condorcet.
Je code depuis l'âge de 13 ans et j'aime créer des sites Web et utiliser la technologie pour aider les gens.
RÉALISATIONS
Chef d'équipe du site Web du lycée
-
Vice-présidente du club cinématographique du lycée
- Trésorière de la société des codeurs du lycée -
Premier prix au Hackathon de Condorcet EXPÉRIENCE Tuteur en mathématiques
Centre scolaire de Condorcet Jan 2019
- présent • Cours particuliers avec des élèves du secondaire sur différents domaines des mathématiques • Cours d'algèbre Développeuse stagiaire
| Berou Solutions, Inc.
mars
- mai 2019 Traduction de wireframes en code frontal Aide à la création d'une application de commande en ligne Recherche d'utilisateurs effectuée par le biais d'enquêtes et d'entretiens PARCOURS SCOLAIRE
Lycée de Condorcet
· Spécialisation en technologie
| Classe de 2020 •
Diplômée avec une moyenne de 16/20 • Membre de l'association des étudiants en histoire
Excellence académique en histoire, mathématiques et multimédia durant 2 années consécutives RÉFÉRENCES
Marion Bardot
| Professeure, lycée de Condorcet Caroline Clément | Professeure, lycée Beaulieu Myriam Barbu
| Directrice, Centre scolaire de Condorcet
01 12 13 14 15
bonjour@sitevraimentsuper.fr
www.sitevraimentsuper.fr

In [3]:
df.head()

,Sentence_CV1,Sentence_CV1_clean
0,"(SELMA, LAFKIR, CORDE, 80, CODEUSE, ENTHOUSIASTE)",SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE
1,(PROFIL),PROFIL
2,"(PERSONNEL, Je, suis, étudiante, au, lycée, Co...",PERSONNEL Je suis étudiante au lycée Condorcet.
3,"(Je, code, depuis, l', âge, de, 13, ans, et, j...",Je code depuis l'âge de 13 ans et j'aime créer...
4,(RÉALISATIONS),RÉALISATIONS

In [4]:
## Création d'une colonne qui compte le nombre de phrase
df['Sentence_line'] = df.index
df.head()

,Sentence_CV1,Sentence_CV1_clean,Sentence_line
0,"(SELMA, LAFKIR, CORDE, 80, CODEUSE, ENTHOUSIASTE)",SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE,0
1,(PROFIL),PROFIL,1
2,"(PERSONNEL, Je, suis, étudiante, au, lycée, Co...",PERSONNEL Je suis étudiante au lycée Condorcet.,2
3,"(Je, code, depuis, l', âge, de, 13, ans, et, j...",Je code depuis l'âge de 13 ans et j'aime créer...,3
4,(RÉALISATIONS),RÉALISATIONS,4

In [5]:
## Création d'une colonne qui compte le nombre de token dans la phrase
df['Nb_tokens'] = df['Sentence_CV1'].apply(lambda x : len(x))
df.head()

,Sentence_CV1,Sentence_CV1_clean,Sentence_line,Nb_tokens
0,"(SELMA, LAFKIR, CORDE, 80, CODEUSE, ENTHOUSIASTE)",SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE,0,6
1,(PROFIL),PROFIL,1,1
2,"(PERSONNEL, Je, suis, étudiante, au, lycée, Co...",PERSONNEL Je suis étudiante au lycée Condorcet.,2,8
3,"(Je, code, depuis, l', âge, de, 13, ans, et, j...",Je code depuis l'âge de 13 ans et j'aime créer...,3,24
4,(RÉALISATIONS),RÉALISATIONS,4,1

In [6]:
## Création d'une colonne pour connaitre la position en pourcentage de la phrase par rapport au texte entier
df['Nb_tokens'].sum()

214

In [7]:
df['Nb_tokens'][0]

6

In [10]:
## Création d'une colonne pour connaitre la position de la phrase dans le texte
df['%texte_lu'] = 0

token_count = 0
for i in range(len(df)):
    token_count += df['Nb_tokens'][i]
    df['%texte_lu'][i] = round(((token_count / df['Nb_tokens'].sum()) * 100),2)

<ipython-input-10-cb56e8e0cd5c>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['%texte_lu'][i] = round(((token_count / df['Nb_tokens'].sum()) * 100),4)

In [11]:
df.head()

,Sentence_CV1,Sentence_CV1_clean,Sentence_line,Nb_tokens,%texte_lu
0,"(SELMA, LAFKIR, CORDE, 80, CODEUSE, ENTHOUSIASTE)",SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE,0,6,2
1,(PROFIL),PROFIL,1,1,3
2,"(PERSONNEL, Je, suis, étudiante, au, lycée, Co...",PERSONNEL Je suis étudiante au lycée Condorcet.,2,8,7
3,"(Je, code, depuis, l', âge, de, 13, ans, et, j...",Je code depuis l'âge de 13 ans et j'aime créer...,3,24,18
4,(RÉALISATIONS),RÉALISATIONS,4,1,18

In [12]:
df.tail()

,Sentence_CV1,Sentence_CV1_clean,Sentence_line,Nb_tokens,%texte_lu
21,"(|, Professeure, ,, lycée, de, Condorcet, Caro...","| Professeure, lycée de Condorcet Caroline Clé...",21,15,93
22,"(|, Directrice, ,, Centre, scolaire, de, Condo...","| Directrice, Centre scolaire de Condorcet",22,7,96
23,"(01, 12, 13, 14, 15)",01 12 13 14 15,23,5,99
24,(bonjour@sitevraimentsuper.fr),bonjour@sitevraimentsuper.fr,24,1,99
25,(www.sitevraimentsuper.fr),www.sitevraimentsuper.fr,25,1,100

In [13]:
df["%texte_lu_fin_ligne"] = 0

nb_tokens_total = df["Nb_tokens"].sum()

for i in range(len(df)):
    df["%texte_lu_fin_ligne"][i] += (nb_tokens_total - df['Nb_tokens'][i]) / nb_tokens_total

<ipython-input-13-d3a110d5b5e7>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["%texte_lu_fin_ligne"][i] += (nb_tokens_total - df['Nb_tokens'][i]) / nb_tokens_total

In [14]:
df.head()

,Sentence_CV1,Sentence_CV1_clean,Sentence_line,Nb_tokens,%texte_lu,%texte_lu_fin_ligne
0,"(SELMA, LAFKIR, CORDE, 80, CODEUSE, ENTHOUSIASTE)",SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE,0,6,2,0
1,(PROFIL),PROFIL,1,1,3,0
2,"(PERSONNEL, Je, suis, étudiante, au, lycée, Co...",PERSONNEL Je suis étudiante au lycée Condorcet.,2,8,7,0
3,"(Je, code, depuis, l', âge, de, 13, ans, et, j...",Je code depuis l'âge de 13 ans et j'aime créer...,3,24,18,0
4,(RÉALISATIONS),RÉALISATIONS,4,1,18,0

In [15]:
token_count =  df['Nb_tokens'].sum()

for i in range(0,0):
    df['%texte_lu_fin_ligne'][i] = token_count
    for i in range(1, len(df)-1):
        token_count -= df['Nb_tokens'][i]
        df['%texte_lu_fin_ligne'][i] = (token_count / df['Nb_tokens'].sum()) * 100

In [16]:
df.head()

,Sentence_CV1,Sentence_CV1_clean,Sentence_line,Nb_tokens,%texte_lu,%texte_lu_fin_ligne
0,"(SELMA, LAFKIR, CORDE, 80, CODEUSE, ENTHOUSIASTE)",SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE,0,6,2,0
1,(PROFIL),PROFIL,1,1,3,0
2,"(PERSONNEL, Je, suis, étudiante, au, lycée, Co...",PERSONNEL Je suis étudiante au lycée Condorcet.,2,8,7,0
3,"(Je, code, depuis, l', âge, de, 13, ans, et, j...",Je code depuis l'âge de 13 ans et j'aime créer...,3,24,18,0
4,(RÉALISATIONS),RÉALISATIONS,4,1,18,0

In [17]:
df.tail()

,Sentence_CV1,Sentence_CV1_clean,Sentence_line,Nb_tokens,%texte_lu,%texte_lu_fin_ligne
21,"(|, Professeure, ,, lycée, de, Condorcet, Caro...","| Professeure, lycée de Condorcet Caroline Clé...",21,15,93,0
22,"(|, Directrice, ,, Centre, scolaire, de, Condo...","| Directrice, Centre scolaire de Condorcet",22,7,96,0
23,"(01, 12, 13, 14, 15)",01 12 13 14 15,23,5,99,0
24,(bonjour@sitevraimentsuper.fr),bonjour@sitevraimentsuper.fr,24,1,99,0
25,(www.sitevraimentsuper.fr),www.sitevraimentsuper.fr,25,1,100,0

In [373]:
# list_col = ['Numero_ligne', 'Grammaire', '%texte_lu', '%texte_lu_fin_ligne', 'Nb_tokens', '%token_nom_propre', 'Nb_chiffre', '%Verbe', 'Date', 'Date+1', 'Date+2']

In [19]:
df.head()

,Sentence_CV1,Sentence_CV1_clean,Sentence_line,Nb_tokens,%texte_lu,%texte_lu_fin_ligne,Grammar
0,"(SELMA, LAFKIR, CORDE, 80, CODEUSE, ENTHOUSIASTE)",SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE,0,6,2,0,"[NOUN, PROPN, VERB, NUM, PROPN, PROPN]"
1,(PROFIL),PROFIL,1,1,3,0,[NOUN]
2,"(PERSONNEL, Je, suis, étudiante, au, lycée, Co...",PERSONNEL Je suis étudiante au lycée Condorcet.,2,8,7,0,"[NOUN, PRON, AUX, ADJ, ADP, NOUN, PROPN, PUNCT]"
3,"(Je, code, depuis, l', âge, de, 13, ans, et, j...",Je code depuis l'âge de 13 ans et j'aime créer...,3,24,18,0,"[PRON, VERB, ADP, DET, NOUN, ADP, NUM, NOUN, C..."
4,(RÉALISATIONS),RÉALISATIONS,4,1,18,0,[NOUN]

In [20]:
df.tail()

,Sentence_CV1,Sentence_CV1_clean,Sentence_line,Nb_tokens,%texte_lu,%texte_lu_fin_ligne,Grammar
21,"(|, Professeure, ,, lycée, de, Condorcet, Caro...","| Professeure, lycée de Condorcet Caroline Clé...",21,15,93,0,"[ADP, NOUN, PUNCT, NOUN, ADP, PROPN, PROPN, PR..."
22,"(|, Directrice, ,, Centre, scolaire, de, Condo...","| Directrice, Centre scolaire de Condorcet",22,7,96,0,"[ADP, PROPN, PUNCT, NOUN, ADJ, ADP, PROPN]"
23,"(01, 12, 13, 14, 15)",01 12 13 14 15,23,5,99,0,"[NOUN, DET, DET, DET, DET]"
24,(bonjour@sitevraimentsuper.fr),bonjour@sitevraimentsuper.fr,24,1,99,0,[NOUN]
25,(www.sitevraimentsuper.fr),www.sitevraimentsuper.fr,25,1,100,0,[PROPN]

In [21]:
df["Is_alpha"] = 0

for i in range(len(df)):
    doc = df.iloc[i,1]
    doc = nlp(doc)
    list_token_is_alpha = []
    for token in doc:
        list_token_is_alpha.append(token.is_alpha)
        df["Is_alpha"][i] = list_token_is_alpha

<ipython-input-21-2026bff919bc>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Is_alpha"][i] = list_token_is_alpha
/Users/kinn/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [22]:
df.head()

,Sentence_CV1,Sentence_CV1_clean,Sentence_line,Nb_tokens,%texte_lu,%texte_lu_fin_ligne,Grammar,Is_alpha
0,"(SELMA, LAFKIR, CORDE, 80, CODEUSE, ENTHOUSIASTE)",SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE,0,6,2,0,"[NOUN, PROPN, VERB, NUM, PROPN, PROPN]","[True, True, True, False, True, True]"
1,(PROFIL),PROFIL,1,1,3,0,[NOUN],[True]
2,"(PERSONNEL, Je, suis, étudiante, au, lycée, Co...",PERSONNEL Je suis étudiante au lycée Condorcet.,2,8,7,0,"[NOUN, PRON, AUX, ADJ, ADP, NOUN, PROPN, PUNCT]","[True, True, True, True, True, True, True, False]"
3,"(Je, code, depuis, l', âge, de, 13, ans, et, j...",Je code depuis l'âge de 13 ans et j'aime créer...,3,24,18,0,"[PRON, VERB, ADP, DET, NOUN, ADP, NUM, NOUN, C...","[True, True, True, False, True, True, False, T..."
4,(RÉALISATIONS),RÉALISATIONS,4,1,18,0,[NOUN],[True]

In [23]:
df.tail()

,Sentence_CV1,Sentence_CV1_clean,Sentence_line,Nb_tokens,%texte_lu,%texte_lu_fin_ligne,Grammar,Is_alpha
21,"(|, Professeure, ,, lycée, de, Condorcet, Caro...","| Professeure, lycée de Condorcet Caroline Clé...",21,15,93,0,"[ADP, NOUN, PUNCT, NOUN, ADP, PROPN, PROPN, PR...","[False, True, False, True, True, True, True, T..."
22,"(|, Directrice, ,, Centre, scolaire, de, Condo...","| Directrice, Centre scolaire de Condorcet",22,7,96,0,"[ADP, PROPN, PUNCT, NOUN, ADJ, ADP, PROPN]","[False, True, False, True, True, True, True]"
23,"(01, 12, 13, 14, 15)",01 12 13 14 15,23,5,99,0,"[NOUN, DET, DET, DET, DET]","[False, False, False, False, False]"
24,(bonjour@sitevraimentsuper.fr),bonjour@sitevraimentsuper.fr,24,1,99,0,[NOUN],[False]
25,(www.sitevraimentsuper.fr),www.sitevraimentsuper.fr,25,1,100,0,[PROPN],[False]

In [37]:
df["Lemma_"] = 0

for i in range(len(df)):
    doc = df.iloc[i,1]
    doc = nlp(doc)
    list_token_lemma_ = []
    for token in doc:
        list_token_lemma_.append(token.lemma_)
        df["Lemma_"][i] = list_token_lemma_

<ipython-input-37-83f87b9f8dc1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Lemma_"] = 0
<ipython-input-37-83f87b9f8dc1>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Lemma_"][i] = list_token_lemma_
/Users/kinn/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/Users/kinn/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)
/Users/kinn/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [38]:
df.describe(include="all")

,Sentence_CV1,Sentence_CV1_clean,Sentence_line,Nb_tokens,%texte_lu,%texte_lu_fin_ligne,Grammar,Is_alpha,lemma_,Lemma_
count,10,10,10.000000,10.000000,10.000000,10.0,10,10,10.0,10.0
unique,10,10,NaN,NaN,NaN,NaN,8,8,NaN,8.0
top,(RÉALISATIONS),mars,NaN,NaN,NaN,NaN,[NOUN],[True],NaN,0.0
freq,1,1,NaN,NaN,NaN,NaN,3,3,NaN,3.0
mean,NaN,NaN,6.000000,4.400000,23.600000,0.0,NaN,NaN,0.0,NaN
std,NaN,NaN,4.521553,3.025815,17.570177,0.0,NaN,NaN,0.0,NaN
min,NaN,NaN,0.000000,1.000000,2.000000,0.0,NaN,NaN,0.0,NaN
25%,NaN,NaN,2.500000,1.000000,9.750000,0.0,NaN,NaN,0.0,NaN
50%,NaN,NaN,5.500000,6.000000,22.000000,0.0,NaN,NaN,0.0,NaN
75%,NaN,NaN,9.250000,6.000000,34.000000,0.0,NaN,NaN,0.0,NaN
max,NaN,NaN,13.000000,8.000000,50.000000,0.0,NaN,NaN,0.0,NaN

In [43]:
df.head()

,Sentence_CV1,Sentence_CV1_clean,Sentence_line,Nb_tokens,%texte_lu,%texte_lu_fin_ligne,Grammar,Is_alpha,lemma_,Lemma_
0,"(SELMA, LAFKIR, CORDE, 80, CODEUSE, ENTHOUSIASTE)",SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE,0,6,2,0,"[NOUN, PROPN, VERB, NUM, PROPN, PROPN]","[True, True, True, False, True, True]",0,"[selma, LAFKIR, corde, 80, CODEUSE, ENTHOUSIASTE]"
1,(PROFIL),PROFIL,1,1,3,0,[NOUN],[True],0,[profil]
2,"(PERSONNEL, Je, suis, étudiante, au, lycée, Co...",PERSONNEL Je suis étudiante au lycée Condorcet.,2,8,7,0,"[NOUN, PRON, AUX, ADJ, ADP, NOUN, PROPN, PUNCT]","[True, True, True, True, True, True, True, False]",0,"[personnel, je, être, étudiant, au, lycée, Con..."
4,(RÉALISATIONS),RÉALISATIONS,4,1,18,0,[NOUN],[True],0,"[chef, de, équipe, de, site, web, de, lycée]"
5,"(Chef, d', équipe, du, site, Web, du, lycée)",Chef d'équipe du site Web du lycée,5,8,22,0,"[NOUN, ADP, NOUN, ADP, NOUN, NOUN, ADP, NOUN]","[True, False, True, True, True, True, True, True]",0,[-]

In [52]:
doc = df.iloc[0,9]

In [56]:
len(doc)

6

In [57]:
list_tokens_test = []

for token in doc:
    list_tokens_test.append(token.lemma_)

AttributeError: 'str' object has no attribute 'lemma_'

In [55]:
list_tokens_test

['selma', 'selma', 'selma', 'selma', 'selma', 'selma']

In [47]:
## Création de la colonne Grammaire pour connaitre le type de mots de la phrase

df["Grammar"] = 0

for i in range(0,len(df)):
    doc = df.iloc[i,1]
    doc = nlp(doc)
    list_token_pos = []
    for token in doc:
        list_token_pos.append(token.pos_)
        df["Grammar"][i] = list_token_pos

<ipython-input-47-214329da63d4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Grammar2"] = 0
<ipython-input-47-214329da63d4>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Grammar"][i] = list_token_pos

IndexError: list index out of range

In [39]:
mask = df["%texte_lu"] < df["%texte_lu"].mean()

In [40]:
df = df.loc[mask,:]

In [41]:
df.shape

(6, 10)

In [42]:
df

,Sentence_CV1,Sentence_CV1_clean,Sentence_line,Nb_tokens,%texte_lu,%texte_lu_fin_ligne,Grammar,Is_alpha,lemma_,Lemma_
0,"(SELMA, LAFKIR, CORDE, 80, CODEUSE, ENTHOUSIASTE)",SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE,0,6,2,0,"[NOUN, PROPN, VERB, NUM, PROPN, PROPN]","[True, True, True, False, True, True]",0,"[selma, LAFKIR, corde, 80, CODEUSE, ENTHOUSIASTE]"
1,(PROFIL),PROFIL,1,1,3,0,[NOUN],[True],0,[profil]
2,"(PERSONNEL, Je, suis, étudiante, au, lycée, Co...",PERSONNEL Je suis étudiante au lycée Condorcet.,2,8,7,0,"[NOUN, PRON, AUX, ADJ, ADP, NOUN, PROPN, PUNCT]","[True, True, True, True, True, True, True, False]",0,"[personnel, je, être, étudiant, au, lycée, Con..."
4,(RÉALISATIONS),RÉALISATIONS,4,1,18,0,[NOUN],[True],0,"[chef, de, équipe, de, site, web, de, lycée]"
5,"(Chef, d', équipe, du, site, Web, du, lycée)",Chef d'équipe du site Web du lycée,5,8,22,0,"[NOUN, ADP, NOUN, ADP, NOUN, NOUN, ADP, NOUN]","[True, False, True, True, True, True, True, True]",0,[-]
6,(-),-,6,1,22,0,[PUNCT],[False],0,"[vice-présidente, de, club, cinématographique,..."

In [30]:
mask_nb_tokens = df['Nb_tokens'] < 10

In [31]:
df = df.loc[mask_nb_tokens,:]

In [32]:
df.shape

(10, 8)

In [34]:
 df.head(10)

,Sentence_CV1,Sentence_CV1_clean,Sentence_line,Nb_tokens,%texte_lu,%texte_lu_fin_ligne,Grammar,Is_alpha
0,"(SELMA, LAFKIR, CORDE, 80, CODEUSE, ENTHOUSIASTE)",SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE,0,6,2,0,"[NOUN, PROPN, VERB, NUM, PROPN, PROPN]","[True, True, True, False, True, True]"
1,(PROFIL),PROFIL,1,1,3,0,[NOUN],[True]
2,"(PERSONNEL, Je, suis, étudiante, au, lycée, Co...",PERSONNEL Je suis étudiante au lycée Condorcet.,2,8,7,0,"[NOUN, PRON, AUX, ADJ, ADP, NOUN, PROPN, PUNCT]","[True, True, True, True, True, True, True, False]"
4,(RÉALISATIONS),RÉALISATIONS,4,1,18,0,[NOUN],[True]
5,"(Chef, d', équipe, du, site, Web, du, lycée)",Chef d'équipe du site Web du lycée,5,8,22,0,"[NOUN, ADP, NOUN, ADP, NOUN, NOUN, ADP, NOUN]","[True, False, True, True, True, True, True, True]"
6,(-),-,6,1,22,0,[PUNCT],[False]
7,"(Vice-présidente, du, club, cinématographique,...",Vice-présidente du club cinématographique du l...,7,6,25,0,"[NOUN, ADP, NOUN, ADJ, ADP, NOUN]","[False, True, True, True, True, True]"
10,"(Centre, scolaire, de, Condorcet, Jan, 2019)",Centre scolaire de Condorcet Jan 2019,10,6,37,0,"[NOUN, ADJ, ADP, PROPN, PROPN, NUM]","[True, True, True, True, True, False]"
12,"(|, Berou, Solutions, ,, Inc, .)","| Berou Solutions, Inc.",12,6,50,0,"[PUNCT, PROPN, NOUN, PUNCT, PROPN, PUNCT]","[False, True, True, False, True, False]"
13,(mars),mars,13,1,50,0,[NOUN],[True]

In [35]:
df.head()

,Sentence_CV1,Sentence_CV1_clean,Sentence_line,Nb_tokens,%texte_lu,%texte_lu_fin_ligne,Grammar,Is_alpha
0,"(SELMA, LAFKIR, CORDE, 80, CODEUSE, ENTHOUSIASTE)",SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE,0,6,2,0,"[NOUN, PROPN, VERB, NUM, PROPN, PROPN]","[True, True, True, False, True, True]"
1,(PROFIL),PROFIL,1,1,3,0,[NOUN],[True]
2,"(PERSONNEL, Je, suis, étudiante, au, lycée, Co...",PERSONNEL Je suis étudiante au lycée Condorcet.,2,8,7,0,"[NOUN, PRON, AUX, ADJ, ADP, NOUN, PROPN, PUNCT]","[True, True, True, True, True, True, True, False]"
4,(RÉALISATIONS),RÉALISATIONS,4,1,18,0,[NOUN],[True]
5,"(Chef, d', équipe, du, site, Web, du, lycée)",Chef d'équipe du site Web du lycée,5,8,22,0,"[NOUN, ADP, NOUN, ADP, NOUN, NOUN, ADP, NOUN]","[True, False, True, True, True, True, True, True]"